html {
  scroll-behavior: smooth;
}

body {
  padding: none;
  margin: 0;
}

.nav-items {
  padding-right: 80px;
  padding-left: 80px;
  gap: 10px;
  border-bottom: 1px solid var(--color-stroke-light);
  background: var(--color-white);
}

.column-center {
  justify-self: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.hamburger-label {
  display: none;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  text-wrap: none;
  font-weight: 500;
  gap: 28px;
  white-space: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
}

.column-left {
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.column-right {
  text-align: right;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 18;
}

.btn-nav {
  font-size: 15px;
  font-weight: 100;
  color: var(--color-white);
  padding: 13px 20px;
  gap: 10px;
  align-items: center;
}

.nav-list a {
  display: inline-flex;
}

.nav-list .arrow-down {
  margin-top: -1px;
  font-size: 18px;
}

.arrow-down {
  rotate: 90deg;
}

.nav-list a,
.btn-nav {
  line-height: 1;

}

.iconify {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  vertical-align: middle;
  ;
  rotate: 45deg;
}

/* Section Hero */

.section-hero {
  padding: 80px 80px;
}

.text-main {
  color: var(--color-dark);
}

.text-sec {
  color: var(--color-text);
  max-width: 648px;
  padding-top: 5px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.hero-buttons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.btn-hero {
  padding: 18px 32px;
  text-decoration: none;
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

/* Inwest Section */

.text-inwest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.inwest-par {
  text-align: center;
  color: var(--color-text);
  max-width: 750px;
  overflow-wrap: break-word;
}

/* Widget section */
#slide-text {
  color: var(--color-text);
}

#slide-location,
#slide-title,
#slide-text,
#slide-image {
  transition: opacity 0.3s ease-in-out;
}

.slide-fade-out {
  opacity: 0;
}

.widget-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  height: 540px;
  gap: 10px;
  border: 1px solid var(--color-stroke);
  border-radius: 14px;
  overflow: hidden;
  box-sizing: border-box;
}

.widget-wrapper {
  display: grid;
  place-items: center;
}

.heading-m {
  padding-bottom: px;
}

.icon {
  display: block;
  width: 12px;
  height: 19px;
  mask-image: url("../media/localisation.svg");
  background-color: var(--color-primary);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.2s ease;
  border-radius: 14px;
}

.widget-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 36px;
}

.feature-box {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  gap: 8px;
}

.widget-right {
  flex: 1 1 auto;
  height: 540px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.widget-image {
  height: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.slider-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.widget-button {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}


.section-inner {
  gap: 20px;
  padding-top: 32px;
}

/* Section Badge Heading */

.section-badge-heading-1 {
  padding: 80px;
  gap: 10px;
}

.badge-text {
  width: 518px;
}

/* Sections Tutorials */
.tutorials {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.articles {
  max-width: 1280px;
  margin: 0 auto;
  gap: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  border: 1px solid var(--color-stroke);
  border-radius: 12px;
  padding: 24px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card-img {
  width: 100%;
  aspect-ratio: 357 / 222;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card-focusbottom {
  object-fit: cover;
  object-position: 50% 70%;
}

.btn-cont-tut {
  display: flex;
  padding-top: 32px;
  margin-top: auto;
  gap: 20px
}

/* Section badge heading */

.section-badge-heading {
  display: flex;
  justify-content: center;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

/* Section Contact */

.contact {
  background-color: var(--color-surface-subtle);
  padding: 80px;
  gap: 10px
}

.contact-header {
  padding-bottom: 20px;
  gap: 10px;
}

.leave-mess-box {
  background: var(--color-surface-alt);
  border: 1px;
  border-radius: 14px;
  border-color: var(--color-white);
  padding: 46px 32px;
  gap: 42px;
}

.contact-form {
  display: flex;
  gap: 20px;
}

.input-leavemess {
  padding-bottom: 50px;
}

.form-label {
  padding-bottom: 10px;
}

.inp-area {
  flex: 1.3;
}

.inp-area-l {
  flex: 2;
}

.messageinput {
  width: 100%;
  padding-top: 20px;
}

.consent {
  margin-top: 30px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

.consent label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.consent input[type="checkbox"] {
  all: unset;
  appearance: checkbox;
  cursor: pointer;
  margin-top: 3px;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.consent .info {
  margin-top: 15px;
  color: var(--color-text)
}

.actions {
  padding-top: 50px;
}

/* Section Footer*/

footer {
  padding: 20px 80px 40px 80px;
  gap: 10px;
}

.footer-wrapper {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 16px;
  color: var(--color-text);
}

.footer-wrapper p {
  margin: 0;
}

.wrap {
  max-width: 694px;
}

.crafton-heavy {
  font-weight: 600;
}

strong {
  font-weight: 600;
}